# Data files
# *.csv
*.pkl

# Model files
ppo_crypto_trader.zip

# Logs and experiments
wandb/
ppo_tensorboard/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.git
.mypy_cache
.pytest_cache
.hypothesis

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
sac_tensorboard/

sac_tb/
vp_cache/


models/
logs/
checkpoints/
__pycache__/

*.npz


*.log
